<div class="user-details">
  <h2>Certifications</h2>
  <ul class="certifications-list">
    <li><strong>Google Data Analytics Certificate</strong> - Coursera (2023)</li>
    <li><strong>Data Science and Machine Learning - Kaggle (2025) </strong>
      <ul class="nested-list">
        <li>Python</li>
        <li>SQL</li>
        <li>Pandas</li>
        <li>Data Visualization</li>
        <li>Intro/Intermediate Machine Learning</li>
        <li>Feature Engineering</li>
        <li>Natural Language Processing</li>
        <li>Computer Vision</li>
      </ul>
    </li>
  </ul>
</div>
