<section id="data_dives" class="deep-dives-section" style="
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
">
  <h2>Data Dives</h2>
  <div class="projects-grid">
    <!-- Each Deep Dive -->
    <div class="project-card">
      <div class="project-info">
        <h3>Keeping It Professional - Notes from the Analyst in the Room</h3>
        <p>A take on staying composed when others don’t.</p>
        <a href="{{ '/deep_dives/stay_cool.html' | relative_url }}" class="project-link" target="_blank">View Project</a>
      </div>
    </div>

    <div class="project-card">
      <div class="project-info">
        <h3>Breaking Down SQL CTEs</h3>
        <p>Walking through a CTE problem using SQL.</p>
        <a href="{{ '/deep_dives/sql_cte.html' | relative_url }}" class="project-link" target="_blank">View Project</a>
      </div>
    </div>
  </div>
</section>
