<div class="user-details">
  <h2> Featured Projects </h2>
</div>
<div class="projects-grid">

  <!-- GC RECOMMENDATION -->
   <div class="project-card">
    <div class="project-info">
      <img src="{{ '/assets/img/proj_images/gc_recommendation.png' | prepend: site.baseurl }}" alt="Golf Course Recommendenation" width="300" />
      <h3>Golf Course Recommendation System</h3>
      <p> *This project is currently in progress*. The goal is to recommend a gold course based on the course features and user interaction.</p>
      <a href="{{ '//gc_recommendation/' | relative_url }}" class="project-link" target="_blank">View Project</a>
    </div>
  </div>
  
  <!-- AMAZON NLP -->
  <div class="project-card">
    <div class="project-info">
      <img src="{{ '/assets/img/proj_images/amazon_tf_idf.png' | prepend: site.baseurl }}" alt="Amazon Review Words" width="500" />
      <h3>NLP with Amazon Reviews</h3>
      <p>Using Natural Language Processing (NLP) to classify Amazon product reviews based on the written text. The goal is was to gain consumer insight by leveraging
        text-based features and machine learning models.</p>
      <a href="{{ '//nlp_amazon_reviews/' | relative_url }}" class="project-link" target="_blank">View Project</a>
    </div>
  </div>

  <!-- MOOD PREDICTION -->
  <div class="project-card">
    <div class="project-info">
      <img src="{{ '/assets/img/proj_images/sp_mood_cm.png' | prepend: site.baseurl }}" alt="Mood Prediction Confusion Matrix" width="400" />
      <h3>Mood Classification using Spotify Audio Features</h3>
      <p> Applied classification algorithms to predict song mood (happy or not happy) from Spotify audio characteristics like valence, energy, and danceability</p>
      <a href="{{ '//mood_prediction/' | relative_url }}" class="project-link" target="_blank">View Project</a>
    </div>
  </div>

  <!-- Add more project cards as needed -->
  
  <br><br>
  <a href="https://rubberduckdebugging.com/" target="_blank">Why is my favicon a duck?</a>
</div>


