<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="projects-grid">
  <div class="project-card">
    <img src="{{ "/assets/img/spotify_grey_logo.jpg" | prepend: site.baseurl }}" alt="Spotify Mood Project">
    <div class="project-info">
      <h3>Mood Classification using Spotify Audio Features</h3>
      <p> Applied classification algorithms to predict song mood from Spotify audio characteristics like valence, energy, and danceability</p>
      <a href="/mood_prediction" class="project-link">View Project</a>
    </div>
  </div>

  <div class="project-card">
    <img src="{{ "/assets/img/twitter-api-v2-twarc2.png" | prepend: site.baseurl }}" alt="Twarc Workshop">
    <div class="project-info">
      <h3>Amazon Reviews</h3>
      <p>Workshop on collecting and analyzing Twitter data using the Twarc Python library and Twitter API v2.</p>
      <a href="/nlp_reviews" class="project-link" target="_blank">View Project</a>
    </div>
  </div>

  <!-- Add more project cards as needed -->
</div>
