<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="spotify" src="{{ "/assets/img/spotify_grey_logo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Predicting Mood Based on Spotify Audio Features </h3>
    <ul>
      <li> Built a machine learning model to predict the emotional mood of a song (happy vs. not happy) based on Spotify audio features like energy, danceability, and tempo. 
      Explored data preprocessing, class imbalance handling, and model tuning using Random Forests and Logistic Regression.
      Achieved solid predictive performance and visualized decision boundaries and feature importance to interpret model behavior.
      This project demonstrates my ability to combine music analytics with supervised classification and thoughtful evaluation. 
      Tools: Python, Scikit-learn, Pandas, Matplotlib
      Skills: Classification, Feature Engineering, Model Evaluation, Data Visualization </li>
    </ul>
    <a href="https://ameliameyer.github.io/music_project/" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="twarc" src="{{ "/assets/img/twitter-api-v2-twarc2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> twarc Usage Instruction</h3>
    <ul>
      <li> A comprehensive workshop I created in collaboration with my team at UCSB's Interdisciplinary Collaboratory (now DREAMLab) 
        on twarc - a command line tool and Python Library for collecting and analyzing Twitter data using the Twitter API.</li>
    </ul>
    <a href="https://carpentries-incubator.github.io/twitter-with-twarc/01-introduction/index.html" target="_blank" >Check it out</a>
  </div>
</div>
